# Nextflow
work/
.nextflow/
.nextflow.*
results/

# Foldx
*.txt
*.fxout

# Python
__pycache__/
*.pyc
.venv/
.env

# DVC
data/*
!data/*.dvc
!data/.gitignore

# molecules (dvc managed)
molecules/*
!molecules/*.dvc
!molecules/.gitignore
/molecules

# Modeller artifacts
*.pdb
*.ali
*.pap

nextflow
.vscode/*