env {
    SENTRY_DSN = System.getenv('SENTRY_DSN') ?: ''
}

profiles {
    azure {
        process.executor = 'azurebatch'
        azure.batch.location = 'westus2'
        azure.batch.accountName = 'h3n2'
        azure.batch.accountKey = System.getenv('AZURE_BATCH_KEY')
        azure.storage.accountName = System.getenv('AZURE_STORAGE_NAME')
        azure.storage.accountKey = System.getenv('AZURE_STORAGE_KEY')
        
        // This tells Azure to use a machine with enough RAM for MODELLER/ESM2
        process.machineType = 'Standard_D4s_v3' 
    }
}

docker {
    enabled = true
    runOptions = "-v ${projectDir}/modeller_license.py:/opt/conda/lib/python3.10/site-packages/modeller/config.py -v ${projectDir}/.hf_cache:/tmp/huggingface"
}

process {
  withName: BUILD_HOMOLOGY_MODEL {
    maxForks = 8
  }
  withName: CLEAN_PDB {
    maxForks = 8
  }
  withName: REPAIR_PDB {
    maxForks = 8
  }
  withName: CALC_STABILITY {
    maxForks = 8
  }
  withName: CALC_HAMMING {
    maxForks = 16
  }
  withName: CALC_CPG {
    maxForks = 16
  }
}